:root{
    --azul: #0072ce;
    --cinza: #263238;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*elementos básicos*/

body{
    background-color: #151B1F;
    font-family: 'Arial', Times, serif;
    color: #fff;
}


header .container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding-left: 3.5%;
    height: 80px;
    
}
header i{
    color: var(--azul);
}
header .logo img{
    
    width: 150px;
    height: 150px;
    border-radius: 100%;
    
}

header nav a{
    text-decoration: none;
    color: var(--azul);
    margin-right: 10px;
    text-transform: uppercase;
    
}

header nav a:hover{
    color: #fff;
    border-bottom: 3px solid var(--azul);
    padding-bottom: 8px;
}

header nav a:last-child{
    margin-right: 20px;
}
/*Filme principal*/


.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.40)100%), url('../img/cp77.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 15px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.botao{
    font-size: 12px;
    background-color: rgba(0,0,0,.50);
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .8s ease all;
}

.botao:hover{
    background-color: white;
    color: var(--azul);
}

.botao i{
    margin-right: 5px;
}

.filme-principal .container{
    margin-left: 5%;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    width: 300px;
    height: 250px;
    display: block;
    border-radius: 10px;
    
    
}



.carrossel-filmes{
    margin-top: 60px;
}

.item{
    transition: .3s ease all;
}


.item:hover{
    
    transform: scale(1.04);
}

.sobre{
    margin-top: 60px;
    
}



.fundo-sobre{
    width: 300px;
    height: 400px;
}

.container-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,.50);
    padding-top: 40px;
    
}

.sobre-conteudo{
    width: 40%;
}

.sobre-titulo{
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sobre-paragrafo{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/*estilo lista de requisitos*/

.requisitos .sobre-titulo{
    text-align: center;
    margin-top: 60px;
    
}

.requisitos .itens-requisitos{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.requisitos .itens-requisitos li{
    width: 30%;
    margin: 30px
}



.requisitos-conteudo{
    font-size: 18px;
    margin: 20px  auto 10px auto;
    width: 50%;
    text-align: center;
    
}


/*rodapé*/

.rodape{
    
    height: 100px;
    background-color: #0a0d0f;
}

.rodape-p{
    text-align: center;
    padding-top: 20px;
}

.rodape .social{
    color:var(--azul);
    
}

.social-container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: space-around;
}
.social-container li{
    list-style: none;
    padding: 15px 10px;
    
}